# Activa el motor de reescritura
RewriteEngine on
RewriteBase /puzzle/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirección de rutas amigables a index.php con parámetro ?dir=
RewriteRule ^home$ index.php [L,QSA]
RewriteRule ^index$ index.php [L,QSA]
RewriteRule ^registro$ registro.php [L,QSA]
RewriteRule ^instrucciones$ instrucciones.php [L,QSA]
RewriteRule ^first$ first.php [L,QSA]
RewriteRule ^level_1$ level_1.php [L,QSA]
RewriteRule ^level_2$ level_2.php [L,QSA]
RewriteRule ^second$ second.php [L,QSA]
RewriteRule ^final$ final.php [L,QSA]

# Página de error personalizada
ErrorDocument 404 /404.html

# Opciones de seguridad y limpieza
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

# Evitar mostrar archivos
IndexIgnore *.css *.map *.js *.png *.jpg *.wmv *.mp4 *.avi *.etc